extends ../main

block content

  h1(style="margin-bottom: 30px") Sensor Loan Booked

  p Hey #{ user.profile.name }!

  p Thank you for signing up to a sensor loan from the Community ToolBox!

  p You will be contacted by us to orgnise your sensor pickup.
  
  p In the meantime, you can use your account on explore community ideas and initiatives. Also you are welcome to propose your own idea to others! 
  
  p Check it out <a style="color: #0B9BD0" href="#{ url }">here</a>! 