extends ../main

block content

  h1(style="margin-bottom: 30px") Community Tool Box Application

  p Hey #{ user.profile.name }!

  p Thank you for completing expression of interest form! 

  p We will respond to your application within 7 days to inform you whether your application has been successful.
  
  p In the meantime, you can use your account on explore community ideas and initiatives. Also you are welcome to propose your own idea to others! 
  
  p Check it out <a style="color: #0B9BD0" href="#{ url }">here</a>! 